.buy-heading{
  text-align: center;
  margin: 60px 0 70px 0;
}

.heading{
  font-size: 60px;
  font-weight: 700;
}
.card-item {
  width: 250px;
  font-size: 12px;
  flex: 0 0 auto; /* ADD */
  display: flex; /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
}

.cards-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  animation: fadeIn 4s 4s backwards;
  width: 95%;
  // animation: fadeInUp 2s 2s;
  // animation-fill-mode: forwards;
  /* overflow-x: auto; */
  // flex: 1 1 160px;
}

.section_header{
    margin: 200px 0 70px 200px;
    text-align: left;
    font-weight: 600;
    color: #3a3a3a;
    font-family: "Muli", sans-serif;
    // color: #003e51;
    font-size: 35px;
    letter-spacing: 0.8px;
    line-height: 30px;
    animation: fadeIn 4s 4s backwards;
}
.card-item:hover{
  transform: scale(1.1);
}
.card-image {
  height: 200px;
}

.buy_header {
  color: #8d8d8d;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 3px;
  animation: fadeIn 4s 4s backwards;
}


.description{
  color: #4e6871;
  font-size: 20px;
}

.cart{
  height: 20px;
  width: 20px;
  color: #4e6871;
  margin-left: 160px;
}

.price_details{
  display: flex;
  justify-content: space-between;
}

.price_details > h5{
  margin-top: 10px;
  color: #8d8d8d;
}

.cart_button{
  font-size: 15px;
  font-family: sans-serif;
  background-color: #f4cb1e;
}

.cart_button:hover{
  background-color: #4CAF50;
}

.cart_img{
  height: 20px;
  margin-left: 5px;
}

.veg_category{
  margin: 0 20px 0 20px;
}
.veg_category > h3{
  width: 10vw;
  font-size: 1.2vw;
  font-weight: 600;
  color: #003e51;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
  // text-align: center;
}

.veg_category:hover{
  transform: scale(1.2)
}

.category_cursor{
  display: flex;
  // justify-content: space-evenly;
  justify-content: center;
  animation: fadeIn 4s 4s backwards;
  
}