.info {
  display: flex;
  justify-content: center;
  margin: 10% 0 0 0;
  // background-color: #CCFB5D;
}

@media (max-width: 800px) {
  .info {
    flex-direction: column;
    text-align: center;
  }

  .info-text {
    margin-left: 40px;
  }

  .info-image{
    margin-top: 50px;
    height: 250px !important;
    width: 250px !important; 
  }
}

.info_header > h1{
  font-size: 40px;
  font-weight: 500;
}

.info-image {
  height: 577px;
  width: 550px;
  border-radius: 20px;
  animation-delay: 5s;
  animation: leftmove 5s;
  position: relative;
  animation: fadeInUp 2s 2s;
  animation-fill-mode: backwards;
}

@keyframes leftmove {
  from {
    left: 0px;
  }
  to {
    left: 50px;
  }
}

.info-text{
  animation-delay: 5s;
  animation: rightmove 5s infinite;
}

@keyframes rightmove {
  from {
    right: 800px;
  }
  to {
    left: 600px;
  }
}

.info-text {
  max-width: 35%;
  margin: 100px 0 0 100px;

  h1,
  h5 {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 700px;
    margin: 0 0 20px 0;
    color: #003e51;
  }

  h1 > span {
    color: #00c65e;
  }

  .info_content{
    font-family: monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: black;
  }
}

.learn-more{
  text-align: center;
  margin-top: 70px;
  color: #003e51;
  font-size: 20px;
    font-family: "Courier New", Courier, monospace;
}

.arrow{
  height: 20px;
  width: 12px;
  margin-left: 20px;
}
