
.footer{
  display: flex;
  margin: 200px 100px 20px 100px;
}

.logo_text{
  font-size: 35px;
  font-weight: 700;
  font-family: "U8,sans-serif";
}

.footer__content{
  margin-right: 60px;
}

.subscribe_text{
  font-size: 20px;
  font-weight: 700;
  color: #003e51;
  font-family: monospace;
}
.footer-title{
  font-size: 20px;
  margin-left: 30px;
  font-weight: 700;
  color: #003e51;
  font-family: monospace;
}

.footer-email{

  input{
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    position: relative;
    background-color:rgb(216, 227, 224);

  }

  button{
    background-color:#f4cb1e;
    border: 0px;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    color: azure;
    margin-top: 30px;
  }

  button:hover{
    background-color:#4b9a51
  }
}

.footer__information{
  list-style: none;
  font-size: 16px;
  color:#003e51;
  min-width: 150px;
  margin-top: 40px;
}

.footer__social{
  margin-top: 40px;

  .socials{
    margin-right: 20px;
  }
}

.footer__cards{
  min-width: 350px;
 margin-top: 40px; 

 .footer__card{
  margin-right: 10px;
 }
}

.footer__copyright{
  color: #4e6871;
  text-align: center;
  font-size: 12px;
  margin-bottom: 0px;
}

@media(max-width: 1243px){
  .footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

  }

  .footer__content{
    margin-top: 70px;
    width: auto;
  }


  .footer__cards{
     min-width: 20px;
  }
}